<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wika.historyindoid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".BerandaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".NewNoteActivity"
            android:parentActivityName=".BerandaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewNoteActivity" />
        </activity>

        <activity android:name=".UpdateNoteActivity"
            android:parentActivityName=".BerandaActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NewNoteActivity" />
        </activity>

        <activity android:name=".SelectNoteActivity"
            android:parentActivityName=".BerandaActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SelectNoteActivity"/>
        </activity>

        <activity android:name=".LangkahActivity"
            android:parentActivityName=".BerandaActivity"
            android:label="Langkah History.id">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LangkahActivity" />
        </activity>
    </application>

</manifest>